/***************页面头部****************/
/****头部导航栏，弹性布局******/
	div.nav{
		display:flex;
		justify-content:center;
	}
	/*导航栏左侧*/
		div.nav_left{
			margin-right:370px;
		}
		div.nav_left img{
			width:200px;
		}
		div.nav_left span{
			display:inline-block;
			width:150px;
			margin-left:20px;
		}
	/*导航栏右侧*/
		div.nav_right ul.clear>li{
			float:left;
			margin:0 10px;
			height:75px;
			border-bottom:4px solid transparent;
		}
		div.nav_right ul.clear>li.reg_log{
			text-align: center;
		}
		div.nav_right ul.clear>li:not(:nth-child(4)){
			line-height:75px;
		}
		div.nav_right ul.clear>li a{
			color:#000;
		}
	/*给相对定位的父元素添加透明边框*/
		div.nav_right ul.clear>li:nth-child(4){
			width:128px;
			box-sizing:border-box;
			border-bottom:4px solid transparent;
			position:relative;
		}
		div.nav_right ul.clear>li:nth-child(4) div.li span{
			display:inline-block;
			width:112px;
			text-align:center;
		}
		div.nav_right ul.clear>li:nth-child(4) div.li{
			line-height:75px;
		}
	/*网易游戏全目录鼠标悬停事件*/
		div.nav_right ul.clear>li:hover{
			border-bottom-color:#BC2E2E;
		}

	/****************显示弹出框*******************/

		div.nav_right ul.clear>li:nth-child(4):hover div.tankuang{
			/*display:block;*/
			height:580px;
		}
		div.nav_right ul.clear>li:nth-child(4) div.li:hover{
			color:#BC2E2E;
		}
		div.nav_right ul.clear>li>a:hover{
			color:#BC2E2E;
		}
		div.nav_right ul.clear>li div.li:hover b{
			border-top-color:#BC2E2E;
		}
		div.nav_right ul.clear>li div.li>b{
			display:inline-block;
			width:0;
			height:0;
			border:6px solid transparent;
			border-top-color:#000;
			margin:-2px 2px;
		}

	/****导航栏列表弹出框*****/
		div.nav_right ul div.tankuang{
			position:absolute;
			z-index:10;
			width:1300px;
			height:0px;
			overflow:hidden;
			left:-970px;
			top:74px;
			/*display:none;*//************隐藏弹出框***********/
			box-sizing:border-box;
			transition:all .5s linear;
		}
	/************弹出框目录*************/
		div.tankuang div.tk_content{
			background:rgba(239,240,242,0.6);
		}
		div.tankuang div.tk_content span{
			display:inline-block;
			color:#BC2E2E;
			font-size:20px;
			font-weight:bold;
			height:44px;
			line-height:44px;
			box-sizing:border-box;
		}
		div.tankuang div.tk_content span:first-child{
			width:28%;
			padding-left:40px;
		}
		div.tankuang div.tk_content span:nth-child(2){
			width:58%;
			padding-left:9px;
		}
		div.tankuang div.tk_content span:last-child{
			width:13%;
			padding-left:2px;
		}
	/************弹出框列表内容*****************/

		div.tankuang div.tk_details{
			display:flex;
			justify-content:space-between;
			background:rgba(245,247,248,0.7);
		}

		div.tankuang div.tk_details li{
			margin:5px 0;
			font-size:20px;
		}
		div.tankuang div.tk_details li a:hover{
			color:#BF4A4B;
		}
		div.tankuang div.tk_details>ul.ex li:first-child{
			font-weight:bold;
		}
		div.tankuang div.tk_details>ul.eq{
			margin-top:35px;
			}
			div.tankuang div.tk_details>ul:first-child{
				margin-left:40px;
			}
			div.tankuang div.tk_details>ul:last-child{
				margin-right:40px;
			}
		/*更多热门*/
			div.tankuang div.tk_details>div.side{
				width:24px;
				margin-top:13%;
				height:172px;
				background:#Bf1f18;
			}
			div.tankuang div.tk_details>div.side>a{
				display:inline-block;
				color:#fff;
				text-align:center;
				margin-top:10px;
			}
/*************头部大海报*****************/
	/*****大海报顶部导航*****/
		div.poster_top>ul.right_nav{
			margin-left:63%;
			margin-top:2%;
		}
		div.poster_top>ul.right_nav li{
			float:left;
		}
		div.poster_top>ul.right_nav li>a{
			color:#fff;
			font-size:20px;
		}
		div.poster_top>ul.right_nav li>a:hover{
			color:#CC4336;
		}

	/****背景****/
		#header div.header_poster{
			height:600px;
			background:url(../img/index/bg_pic0.jpg) no-repeat;
			background-size:1900px;
			position:relative;
		}
		/*****左侧LOGO*****/
		a.logo_pic{
			position:absolute;
			z-index:5;
			left:-71%;
			top:-24px;
		}
		/*背景中的人物*/
			div.header_poster div.poster_character{
				width:900px;
				height:400px;
				margin:50px auto;
				position:relative;
			}
			/*设置图片切换，过渡*/
				div.header_poster div.poster_character>p.character{
					opacity:0;
					transition:all .5s linear;
					position:absolute;
				}
				div.header_poster div.poster_character>p.show{
					opacity:1;
				}
				div.header_poster div.poster_character img{
					/*width:400px;
					height:400px;*/
					position:absolute;
				}

				div.header_poster div.poster_character img:last-child{
					left:228px;
					top:-4px;
				}
				div.header_poster div.poster_character p>img.pic_four{
					top:18px;
				}
				div.header_poster div.poster_character p>img.pic_one{
					top:-14px;
				}
			/*点击按钮*/
				div.header_poster div.poster_character div.btn{
					background:rgba(178,181,195,0.5);
					position:absolute;
					font-size:50px;
					font-weight:bold;
					width:50px;
					height:120px;
					color:#ffeff9;
					box-sizing:border-box;
					padding:20px 0 0 5px;
				}
				div.header_poster div.poster_character div.btn1{
					left:-8%;
					top:46%;
				}
				div.header_poster div.poster_character div.btn2{
					left:103%;
					top:46%;
				}
				div.header_poster div.poster_character div.btn:hover{
					cursor:pointer;
					background:rgba(178,181,195,0.7);
				}
/*固定定位的头部导航条*/
	#header div.nav_fixed{
		width:1900px;
		position:fixed;
		z-index:20;
		background:rgba(237,236,240,0.9);
		display:none;
	}
	/*导航条左侧*/
		#header div.nav_fixed div.fix_left{
			display:flex;
			justify-content:space-between;
		}
		div.nav_fixed div.fix_left span.left_one{
			width:20px;
			height:100px;
			margin:2px 5px;
		}
		div.nav_fixed div.fix_left img.left_two{
			width:100px;
			height:100px;
			margin-right:5px;
		}
		div.nav_fixed div.fix_left img.left_three{
			width:100px;
			height:100px;
			margin-right:5px;
		}
		div.nav_fixed div.fix_left>div{
			box-sizing:border-box;
			width:140px;
			height:100px;
			padding-top:21px;
		}

	/*导航条右侧*/
		#header div.nav_fixed ul.fix_right{
			box-sizing:border-box;
			padding-top:34px;
			padding-right:20px;
		}
		#header div.nav_fixed ul.fix_right>li{
			float:left;
		}
		#header div.nav_fixed ul.fix_right>li>a{
			color:#000;
			font-size:20px;
		}
		#header div.nav_fixed ul.fix_right>li>a:hover{
			color:#CC4336;
		}

		/*body{
			height:2000px;
		}*/












































